<h1>Hi <%= username %></h1>

<p>We have received a request to reset the password for your account.</p>
<p>If you made this request, please click on the link below or paste this into your browser to complete the process:</p>

<button>
    <a href="<%=resetLink%>">Reset password</a>
</button>

<mark>
    This link will work for 24 hours or until your password is reset.
    If you did not ask to change your password, please ignore this email and your account will remain unchanged.
</mark>
